@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
            url('../public/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins Black'), local('Poppins-Black'),
            url('../public/assets/fonts/Poppins-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins Light'), local('Poppins-Light'),
            url('../public/assets/fonts/Poppins-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins Medium'), local('Poppins-Medium'),
            url('../public/assets/fonts/Poppins-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins Regular'), local('Poppins-Regular'),
            url('../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: local('Poppins Bold'), local('Poppins-Bold'),
            url('../public/assets/fonts/Poppins-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}

.form-label {
    @apply text-sm font-normal font-['Poppins'] leading-snug inline-block mb-2
}

.form-error {
    @apply text-xs font-normal font-['Poppins'] text-red-600 pt-1
}

.form-label span {
    @apply text-red-600 pe-0.5
}

.form-input {
    @apply min-h-8 p-3 border border-gray-2 text-black text-sm font-normal font-['Poppins']
    leading-snug rounded-[2px] block w-full placeholder:text-gray-2 outline-none focus:outline-[#3366FF]
}

.sr-only {
    @apply hidden
}
.blue-fill-btn {
    @apply px-4 py-2 rounded-lg bg-dark-blue text-white text-sm font-medium hover:opacity-85 transition-all duration-300 block w-fit
}
.border-btn{
   @apply px-4 py-2 rounded-lg bg-transparent text-[#607487] text-sm font-medium border border-[#607487] hover:bg-[#607487] hover:text-white
    block w-fit transition-all duration-300
}
.model-close-btn{
    @apply border border-[#EEF1F6] bg-white hover:bg-dark-blue/10 rounded-3xl p-2
}
.tab-style{
    @apply py-6 px-4 font-medium relative duration-300 after:w-full hover:text-black/80 text-lg lg:text-xl xl:text-2xl after:h-2 after:bg-dark-blue after:-bottom-2 after:absolute after:left-0 after:rounded after:transition-opacity before:h-1/2 after:my-auto before:bg-black/10 before:absolute before:top-auto before:bottom-auto before:right-0 before:w-[1px]
}

/* Table Common Style */

.table-head-style{
    @apply [&_th]:py-4 [&_th]:px-2 [&_th]:text-center [&_th]:text-[#1A1D20] [&_th]:font-medium bg-[#E6E9EC] [&_th]:text-xs xl:[&_th]:text-sm
    mid-xl:[&_th]:text-base
}
.table-body-style tr{
    @apply border-b border-[#E6E9EC] hover:bg-gray-2/30 [&_td]:text-[#2E3D52] [&_td]:font-medium [&_td]:p-2 [&_td]:text-xs xl:[&_td]:text-sm
    mid-xl:[&_td]:text-base
}